page-first-time {
    p{
        text-align: justify;
    }
    .center{
        align-items: center !important;
    }


    button.green{
      width: 80%;
      padding: 4%;
      border-radius: 30px;
      background-color: $primary-green !important;
      border: 2px $primary-green solid;
      text-align: center !important;
      font-size: 20px;
      color: white;
    }

    button.red{
      width: 80%;
      padding: 4%;
      margin-top: -6%;
      border-radius: 30px;
      background-color: white !important;
      border: 2px $primary-red solid;
      text-align: center !important;
      font-size: 20px;
      color: $primary-red;
    }
}
