<!--
  Generated template for the Game page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Juega y Cambia La Bolsa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <main-menu *ngIf="state == 'MainMenu'" [state]="state" (stateEmitter)="changeState($event)"></main-menu>
  <game *ngIf="state == 'Game'" [state]="state" (stateEmitter)="changeState($event)"></game>

</ion-content>
